:root {
    --gray: rgb(220, 220, 220);
    --grayer: rgb(190, 190, 190);
    --bg: rgb(20, 20, 20);
    --bg-less-light: rgb(40, 40, 40); /* XD */
    --bg-light: rgb(70, 70, 70);
    --bg-dark: rgb(16, 16, 16);
}

/* main divs */
.main {
    background-color: var(--bg);
    color: #fff;
    font-family: "mononoki", monospace;
}

.content {
    width: min(80%, 600px);
    margin: auto;
    padding: 1rem 0;
}

/* page header */
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed var(--bg-light);
    padding-bottom: 0.8rem;
}

.user {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.user_icon {
    font-size: 2rem;
}

.user_name {
    font-family: "Dangrek";
    margin: 0;
}

/* account list */
.accounts {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.account {
    cursor: pointer;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    transition: color 150ms ease-out;
}

.account:hover {
    color: var(--grayer);
}

.account_icon {
    font-size: 1.2rem;
    shape-rendering: crispEdges;
    text-rendering: geometricPrecision;
}

.account_link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

/* section */
.section_header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 2.5rem 0 0.4rem 0;
}

.section_icon {
    font-size: 1.4rem;
}

.section_title {
    margin: 0.2rem 0 0 0;
    font-family: "IBM Plex Mono";
}

.section_text {
    margin: 0;
    color: var(--gray);
}

/* tech stack */
.tech_list {
    margin: 0;
    padding: 0;
}

.tech:not(:last-child) {
    margin-bottom: 0.4rem;
}

.tech {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem 1.2rem;
    background-color: var(--bg-dark);
    border-radius: 0.5rem;
    border: 1px solid var(--bg-light);
}

.tech_icon {
    font-size: 2.5rem;
}

.tech_name {
    font-family: "IBM Plex Mono";
    margin: 0;
}

.tech_desc {
    margin: 0;
    color: var(--gray);
}

/* projects */
.projects {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project {
    background-color: var(--bg-dark);
    padding: 1rem;
    border-radius: 0.5rem;
}

.project_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_name {
    margin: 0;
    font-family: "IBM Plex Mono";
}

.project_repo {
    display: flex;
    color: var(--grayer);
    text-decoration: none;
}

.project_repo:hover {
    border-bottom: 1px solid var(--bg-light);
}

.project_repo_icon {
    margin-top: 0.1rem;
    margin-right: 0.2rem;
}

.project_desc {
    margin: 0;
    padding: 0.4rem;
}

.project_tech-stack {
    margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.project_tech {
    padding: 0.5rem 1.2rem;
    background-color: var(--bg-less-light);
    border-radius: 0.5rem;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;
    padding-top: 0.8rem;
    border-top: 2px dashed var(--bg-light);
}

.footer_text {
    margin: 0;
}

.footer_link {
    color: var(--grayer);
    text-decoration: none;
    transition: color 150ms ease-out;
}

.footer_link:hover {
    color: var(--gray);
}
